@inherits LayoutComponentBase

<Header />
<div class="content">
    <NavMenu />
    <div class="content-wrapper">
        <div class="content-body">
            <HttpClientProgressBar />
            @Body
        </div>
    </div>
</div>
