<nav id="sidebar" class="sticky-top" style="overflow-y: auto;">
    <ul class="list-unstyled components">
        <li>
            <NavLink href="" Match="NavLinkMatch.All" title="Home">
                <span class="icon me-4"><i class="fa-light fa-house"></i></span> <span class="text-truncate">Home</span>
            </NavLink>
        </li>
        <li class="border-bottom my-3"></li>
        <li class="mb-2">
            <h4>Module 1</h4>
        </li>
        <li>
            <NavLink href="counter" Match="NavLinkMatch.Prefix" title="Counter">
                <span class="icon me-4"><i class="fa-light fa-plus-minus"></i></span> <span class="text-truncate">Counter</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="fetchdata" Match="NavLinkMatch.Prefix" title="Fetch data">
                <span class="icon me-4"><i class="fa-light fa-table"></i></span> <span class="text-truncate">Fetch data</span>
            </NavLink>
        </li>
        <li class="border-bottom my-3"></li>
        <li class="mb-2">
            <h4>Module 2</h4>
        </li>
        <li>
            <NavLink href="counter2" Match="NavLinkMatch.Prefix" title="Counter">
                <span class="icon me-4"><i class="fa-light fa-plus-minus"></i></span> <span class="text-truncate">Counter</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="fetchdata2" Match="NavLinkMatch.Prefix" title="Fetch data">
                <span class="icon me-4"><i class="fa-light fa-table"></i></span> <span class="text-truncate">Fetch data</span>
            </NavLink>
        </li>
    </ul>
</nav>

